$main-yellow: #f4ff00;
$main-black: #030200;
$main-violet: #68009b;
$main-gray: #e5e5e5;
@font-face {
    font-family: 'menu font';
    src: url('../fonts/acme-regular.ttf');
}

@font-face {
    font-family: 'logo font';
    src: url('../fonts/alpha_echo.ttf');
}

@font-face {
    font-family: 'title font';
    src: url('../fonts/open_sans.ttf');
}

@mixin btn-style {
    border: 1px solid $main-gray;
    border-radius: 3px;
    line-height: 1.5vw;
    font-size: 0.9vw;
    cursor: pointer;
    font-family: "menu font";
    &:hover {
        background-color: $main-violet;
        color: $main-yellow;
    }
}

.test {
    height: 200vh;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    width: 95%;
    margin-left: auto;
}

.header {
    background-color: #000;
    ul {
        list-style-type: none;
    }
    a {
        text-decoration: none;
        color: $main-yellow;
    }
    h1 {
        color: $main-violet;
        background-color: $main-yellow;
        margin: 0;
        text-align: center;
        line-height: 3.1vw;
        font-size: 2.7vw;
        font-family: "logo font";
    }
}

.header__inner {
    display: grid;
    grid-template-columns: 20% 30% 30% 13% 7%;
    grid-template-rows: 3vw;
    align-items: center;
}

.header__menu {
    display: grid;
    grid-template-columns: repeat(3, minmax(35px, 1fr));
    grid-template-rows: 3vw;
    text-transform: uppercase;
    font-size: 0.95vw;
    text-align: center;
    padding-left: 0;
    margin: 0;
    font-family: "menu font";
    >li {
        &:first-child {
            border-left: 2px solid $main-gray;
        }
        line-height: 3vw;
        border-right:2px solid $main-gray;
    }
}

.header__nav {
    height: 100%;
}

.header__submenu1,
.header__submenu2,
.header__submenu3 {
    transform: translateY(-31vw);
    background-color: #000;
    padding-left: 0;
    opacity: 0;
    transition: .5s;
    a {
        display: block;
        width: 100%;
        height: 100%;
    }
    li {
        border-top: 1px solid $main-violet;
        &:hover {
            background-color: $main-yellow;
            a {
                color: $main-black;
            }
        }
    }
}

.header__submenu3 {
    transform: translateY(-18vw);
}

.header__menu-li1:hover,
.header__menu-li2:hover,
.header__menu-li3:hover {
    background-color: $main-yellow;
    &>a {
        color: $main-black;
    }
}

.header__menu-li1:hover>.header__submenu1 {
    transform: translateY(0);
    opacity: 1;
    transition: .5s;
}

.header__menu-li3:hover>.header__submenu3 {
    transform: translateY(0);
    opacity: 1;
    transition: .5s;
}

.header__search {
    position: relative;
    -webkit-appearance: none;
    width: 90%;
    margin: 0 auto;
    display: flex;
    input {
        border-radius: 5px;
        border: none;
        width: 100%;
        font-size: 1.1vw;
        background-color: $main-gray;
        &:focus {
            background-color: #fff;
        }
    }
    .header__button-search {
        -webkit-appearance: none;
        border: none;
        background: url('../img/search.svg') 0 0 no-repeat;
        height: 85%;
        width: calc(100% / 15);
        position: absolute;
        top: 5%;
        right: .5%;
        outline: none;
    }
}

.header__registation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    .header__sign-up {
        background-color: $main-black;
        color: $main-yellow;
        @include btn-style;
    }
    .header__create-account {
        background-color: $main-yellow;
        color: $main-black;
        @include btn-style;
    }
}

.header__upload {
    text-align: center;
    font-weight: 700;
    font-size: 1vw;
    line-height: 3.1vw;
    &:hover {
        background-color: $main-yellow;
        color: $main-black;
    }
}

.aside {
    width: 5%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    height: 100vh;
    a {
        text-decoration: none;
        color: $main-yellow;
        width: 2.6vw;
        margin: 0 auto;
    }
}

.aside__menu {
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(10, minmax(4.1vw, 1fr));
    height: 100vh;
    padding-left: 0;
    margin-top: 0;
}

.aside__menu-item1 {
    &>a {
        display: block;
        height: 4vw;
        width: 4.5vw;
        background: url(../img/top10.svg) no-repeat right center;
    }
    .aside__submenu-1 {
        padding: 0;
        margin-right: -10vw;
        transform: translate(5vw, -24vw);
        transition: .4s;
        background-color: $main-black;
        text-align: center;
        text-transform: uppercase;
        font-size: 1vw;
        border: 1px solid $main-violet;
        border-radius: 0 15px 15px 0;
        li {
            padding: 0.4vw 0;
            border-top: 1px solid $main-violet;
        }
    }
    &:hover {
        background-color: $main-violet;
    }
    &:hover>.aside__submenu-1 {
        transition: .4s;
        transform: translate(5vw, -1vw);
    }
}

.aside__sumbenu1-item1 {
    border-radius: 0 15px 0 0;
}

.aside__sumbenu1-item1:hover,
.aside__sumbenu1-item2:hover,
.aside__sumbenu1-item3:hover,
.aside__sumbenu1-item4:hover,
.aside__sumbenu1-item5:hover,
.aside__sumbenu1-item6:hover,
.aside__sumbenu1-item7:hover,
.aside__sumbenu1-item8:hover,
.aside__sumbenu1-item9:hover {
    background-color: $main-yellow;
    a {
        color: $main-black;
    }
}

.aside__sumbenu1-item1:hover {
    border-radius: 0 15px 0 0;
}

.aside__sumbenu1-item9:hover {
    border-radius: 0 0 15px 0;
}

.aside__menu-item2 {
    a {
        display: block;
        height: 4vw;
        background: url('../img/rock-and-roll.svg') no-repeat center center;
    }
    &:hover {
        background-color: $main-violet;
    }
}

.aside__menu-item3 {
    a {
        display: block;
        height: 4vw;
        background: url('../img/kpop.svg') no-repeat center center;
    }
    &:hover {
        background-color: $main-violet;
    }
}

.aside__menu-item4 {
    a {
        display: block;
        height: 4vw;
        background: url('../img/jazz.svg') no-repeat center center;
    }
    &:hover {
        background-color: $main-violet;
    }
}

.aside__menu-item5 {
    a {
        display: block;
        height: 4vw;
        background: url('../img/dabstep.svg') no-repeat center center;
    }
    &:hover {
        background-color: $main-violet;
    }
}

.aside__menu-item6 {
    a {
        display: block;
        height: 4vw;
        background: url('../img/electro.svg') no-repeat center center;
    }
    &:hover {
        background-color: $main-violet;
    }
}

.aside__menu-item7 {
    a {
        display: block;
        height: 4vw;
        background: url('../img/blues.svg') no-repeat center center;
    }
    &:hover {
        background-color: $main-violet;
    }
}

.aside__menu-item8 {
    a {
        display: block;
        height: 4vw;
        background: url('../img/techno.svg') no-repeat center center;
    }
    &:hover {
        background-color: $main-violet;
    }
}

.aside__menu-item9 {
    a {
        display: block;
        height: 4vw;
        background: url('../img/country.svg') no-repeat center center;
    }
    &:hover {
        background-color: $main-violet;
    }
}

.aside__menu-item10 {
    a {
        display: block;
        height: 4vw;
        background: url('../img/pop.svg') no-repeat center center;
    }
    &:hover {
        background-color: $main-violet;
    }
}

.aside__submenu-1 {
    list-style-type: none;
}

.slider__title {
    text-align: center;
    text-transform: uppercase;
    font-family: "title font";
    margin-bottom: 0;
}

.slider__window {
    width: 90%;
    overflow: hidden;
    margin: 0 auto;
}

.slider__inner {
    display: flex;
    flex-direction: row;
    h4 {
        text-align: center;
        font-family: "title font";
    }
}

.slider__item {
    min-width: 100%;
    transition: .5s;
    position: relative;
    iframe {
        display: block;
        width: 90%;
        margin: 0 auto;
        min-height: 34vw;
    }
}

// input[type="radio"] {
//     -webkit-appearance: none;
//     display: none;
// }
.slider__controls-dots {
    display: flex;
    width: 10vw;
    margin: 0 auto;
    justify-content: space-around;
    label {
        width: 15px;
        height: 15px;
        background-color: $main-black;
        border-radius: 50%;
    }
}

#control1:checked~.slider__controls-dots label:first-child,
#control2:checked~.slider__controls-dots label:nth-child(2),
#control3:checked~.slider__controls-dots label:nth-child(3),
#control4:checked~.slider__controls-dots label:nth-child(4),
#control5:checked~.slider__controls-dots label:nth-child(5),
#control6:checked~.slider__controls-dots label:nth-child(6) {
    background-color: $main-yellow;
}

#control1:checked~.slider__window .slider__item:first-child label {
    display: block;
    min-width: 100%;
    min-height: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    &:after {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        box-shadow: 5px 5px 0 1px $main-black;
        transform: rotate(-45deg);
        top: 0;
        right: 2%;
    }
}

#control2:checked~.slider__window .slider__item:nth-child(2) label[for="control1"] {
    display: inline-block;
    min-width: 50%;
    min-height: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    &:before {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        box-shadow: 5px 5px 0 1px $main-black;
        transform: rotate(135deg);
        top: 0;
        left: 4%;
    }
}

#control2:checked~.slider__window .slider__item:nth-child(2) label[for="control3"] {
    display: inline-block;
    min-width: 50%;
    min-height: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    &:after {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        box-shadow: 5px 5px 0 1px $main-black;
        transform: rotate(-45deg);
        top: 0;
        right: 4%;
    }
}

#control3:checked~.slider__window .slider__item:nth-child(3) label[for="control2"] {
    display: inline-block;
    min-width: 50%;
    min-height: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    &:before {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        box-shadow: 5px 5px 0 1px $main-black;
        transform: rotate(135deg);
        top: 0;
        left: 4%;
    }
}

#control3:checked~.slider__window .slider__item:nth-child(3) label[for="control4"] {
    display: inline-block;
    min-width: 50%;
    min-height: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    &:after {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        box-shadow: 5px 5px 0 1px $main-black;
        transform: rotate(-45deg);
        top: 0;
        right: 4%;
    }
}

#control4:checked~.slider__window .slider__item:nth-child(4) label[for="control3"] {
    display: inline-block;
    min-width: 50%;
    min-height: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    &:before {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        box-shadow: 5px 5px 0 1px $main-black;
        transform: rotate(135deg);
        top: 0;
        left: 4%;
    }
}

#control4:checked~.slider__window .slider__item:nth-child(4) label[for="control5"] {
    display: inline-block;
    min-width: 50%;
    min-height: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    &:after {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        box-shadow: 5px 5px 0 1px $main-black;
        transform: rotate(-45deg);
        top: 0;
        right: 4%;
    }
}

#control5:checked~.slider__window .slider__item:nth-child(5) label[for="control4"] {
    display: inline-block;
    min-width: 50%;
    min-height: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    &:before {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        box-shadow: 5px 5px 0 1px $main-black;
        transform: rotate(135deg);
        top: 0;
        left: 4%;
    }
}

#control5:checked~.slider__window .slider__item:nth-child(5) label[for="control6"] {
    display: inline-block;
    min-width: 50%;
    min-height: 50px;
    position: absolute;
    top: 50%;
    right: 0;
    &:after {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        box-shadow: 5px 5px 0 1px $main-black;
        transform: rotate(-45deg);
        top: 0;
        right: 4%;
    }
}

#control6:checked~.slider__window .slider__item:nth-child(6) label[for="control5"] {
    display: inline-block;
    min-width: 50%;
    min-height: 50px;
    position: absolute;
    top: 50%;
    left: 0;
    &:before {
        content: '';
        position: absolute;
        width: 50px;
        height: 50px;
        box-shadow: 5px 5px 0 1px $main-black;
        transform: rotate(135deg);
        top: 0;
        left: 4%;
    }
}

#control1:checked~.slider__window .slider__item {
    margin-left: 0;
    transition: .5s;
}

#control2:checked~.slider__window .slider__item:nth-child(1) {
    margin-left: -100%;
    transition: .5s;
}

#control3:checked~.slider__window .slider__item:nth-child(1) {
    margin-left: -200%;
    transition: .5s;
}

#control4:checked~.slider__window .slider__item:nth-child(1) {
    margin-left: -300%;
    transition: .5s;
}

#control5:checked~.slider__window .slider__item:nth-child(1) {
    margin-left: -400%;
    transition: .5s;
}

#control6:checked~.slider__window .slider__item:nth-child(1) {
    margin-left: -500%;
    transition: .5s;
}

// @for $i from 1 to 4 {
//     .li-style:nth-child(#{$i}) {
//         transition-delay: ($i + 1) * 0.15s;
//         transition-duration: 0.5;
//     }
// }