$main-yellow: #f4ff00;
$main-black: #030200;
$main-violet: #68009b;
$main-gray: #e5e5e5;

@font-face {
    font-family: 'menu font';
    src: url('../fonts/acme-regular.ttf');
}

@font-face {
    font-family: 'logo font';
    src: url('../fonts/alpha_echo.ttf');
}

@font-face {
    font-family: 'title font';
    src: url('../fonts/open_sans.ttf');
}

@mixin btn-style {
    border: 1px solid $main-gray;
    border-radius: 3px;
    line-height: 1.5vw;
    cursor: pointer;
    font-family: "menu font";

    &:hover {
        background-color: $main-violet;
        color: $main-yellow;
    }
}

@mixin title-style {
    text-align: center;
    text-transform: uppercase;
    font-family: "title font";
    font-size: calc(16px + 1vw);
}

.test {
    height: 200vh;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    color: $main-black;
}

.container {
    width: 96.5%;
    margin-left: auto;
}

.header {
    background-color: #000;

    ul {
        list-style-type: none;
    }

    a {
        text-decoration: none;
        color: $main-yellow;
    }

    h1 {
        color: $main-violet;
        background-color: $main-yellow;
        margin: 0;
        text-align: center;
        line-height: 3.1vw;
        font-size: calc(2px + 3vw);
        font-family: "logo font";
    }
}

.header__inner {
    display: grid;
    grid-template-columns: 20% 30% 30% 13% 7%;
    grid-template-rows: 3vw;
    align-items: center;
}

.header__menu {
    display: grid;
    grid-template-columns: repeat(3, minmax(35px, 1fr));
    grid-template-rows: 3vw;
    text-transform: uppercase;
    font-size: calc(4px + 0.6vw);
    text-align: center;
    padding-left: 0;
    margin: 0;
    font-family: "menu font";

    >li {
        &:first-child {
            border-left: 2px solid $main-gray;
        }

        line-height: 3vw;
        border-right:2px solid $main-gray;
    }
}

.header__nav {
    height: 100%;
}

.header__submenu1,
.header__submenu3 {
    transform: translateY(-31vw);
    background-color: #000;
    padding-left: 0;
    opacity: 0;
    transition: 1s;

    a {
        display: block;
        width: 100%;
        height: 100%;
    }

    li {
        border-top: 1px solid $main-violet;

        &:hover {
            background-color: $main-yellow;

            a {
                color: $main-black;
            }
        }
    }
}

.header__submenu3 {
    transform: translateY(-18vw);
}

.header__menu-li1:hover,
.header__menu-li2:hover,
.header__menu-li3:hover {
    background-color: $main-yellow;
    z-index: 2;

    &>a {
        color: $main-black;
    }
}

.header__menu-li1:hover>.header__submenu1 {
    transform: translateY(0);
    opacity: 1;
    transition: 1s;
}

.header__menu-li3:hover>.header__submenu3 {
    transform: translateY(0);
    opacity: 1;
    transition: .5s;
}

.header__search {
    position: relative;
    -webkit-appearance: none;
    width: 90%;
    margin: 0 auto;
    display: flex;

    input {
        border-radius: 5px;
        border: none;
        width: 100%;
        font-size: calc(2px + 0.8vw);
        background-color: $main-gray;

        &:focus {
            background-color: #fff;
        }
    }

    .header__button-search {
        -webkit-appearance: none;
        border: none;
        background: url('../img/search.svg') 0 0 no-repeat;
        height: 85%;
        width: calc(100% / 15);
        position: absolute;
        top: 5%;
        right: .5%;
        outline: none;
    }
}

.header__registation {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    position: relative;

    & > input {
        display: none;
    }

    .header__registration-signUp {
        background-color: $main-black;
        color: $main-yellow;
        @include btn-style;
        width: 35%;
        text-align: center;
        font-size: calc(3px + 0.7vw);
    }

    .header__registration-createAccount {
        background-color: $main-yellow;
        color: $main-black;
        @include btn-style;
        font-size: calc(3px + 0.6vw);
        width: 60%;
        text-align: center;
    }
}

.header__sign-upForm,
.header__create-acctountForm {
    display: none;
    background-color: #000;
    position: absolute;
    top: 3vw;
    z-index: 3;
    border-radius: 0 0 5px 5px;
    padding: 4%;
    border-top: 1px solid $main-violet;
}

.sign-upForm__fields {
    line-height: 2.5vw;
    margin: 0.7vw 0;

    input {
        line-height: 1.6vw;
        text-align: center;
        border-radius: 5px;
        background-color: $main-gray;
        border: 1px solid #fff;
        font-size: calc(2px + 0.7vw);
        width: 100%;

        &:focus {
            background-color: #fff;
        }
    }
}

.sign-upForm__buttons {
    display: flex;
    justify-content: space-between;
}

.sign-upForm__cancel {
    @include btn-style();
    display: block;
    background-color: $main-yellow;
    color: $main-black;
    display: inline-block;
    height: 1.8vw;
    text-align: center;
    line-height: 1.8vw;
    font-size: calc(3px + 0.7vw);
    min-width: 40%;
}

.sign-upForm__submit {
    @include btn-style();
    background-color: $main-black;
    color: $main-yellow;
    font-size: calc(3px + 0.7vw);
    line-height: 1vw;
}

.header__create-acctountForm {
    width: 205%;
    right: -54%;
}

.create-accountForm__fields {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 1vw;
    margin: 0.7vw 0;
    width: 100%;

    input {
        width: 90%;
        margin: 0.32vw auto;
        text-align: center;
        border-radius: 5px;
        background-color: $main-gray;
        border: 1px solid #fff;
        line-height: 1.6vw;
        font-size: calc(2px + 0.7vw);

        &:focus {
            background-color: #fff;
        }
    }
}

.create-accoundForm__buttons {
    display: flex;
    justify-content: space-around;
    margin-top: 1vw;

    input:first-child {
        @include btn-style();
        background-color: $main-black;
        color: $main-yellow;
        width: 30%;
        font-size: calc(4.5px + 0.7vw);
    }

    input:nth-child(2) {
        @include btn-style();
        background-color: $main-yellow;
        color: $main-black;
        width: 30%;
        font-size: calc(4.5px + 0.7vw);
    }
}

.sign-upForm__title,
.create-accountForm__title {
    color: #fff;
    display: block;
    width: 100%;
    float: left;
    text-align: center;
    font-family: 'title font';
    font-size: 1.1vw;
}

.sign-upForm__close,
.create-accountForm__close {
    display: block;
    margin-left: auto;
    width: 1vw;
    height: 1vw;
    position: relative;
    cursor: pointer;
    font-size: calc(4px + 0.9vw);

    &:before {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 1vw;
        height: 0.1vw;
        top: 6px;
        right: 0;
        transform: rotate(45deg);
    }

    &:after {
        content: '';
        background-color: #fff;
        position: absolute;
        width: 1vw;
        height: 0.1vw;
        top: 6px;
        left: 0;
        transform: rotate(-45deg);
    }
}

#rc1:checked~.header__sign-upForm,
#rc1:checked~.header__create-acctountForm {
    display: none;
}

#rc2:checked~.header__sign-upForm {
    display: block;
}

#rc3:checked~.header__create-acctountForm {
    display: block;
}

.header__upload {
    text-align: center;
    font-weight: 700;
    font-size: calc(2px + 1vw);
    ;
    line-height: 3.1vw;

    &:hover {
        background-color: $main-yellow;
        color: $main-black;
    }
}

.aside {
    width: 3.5%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #000000;
    height: 100vh;
    z-index: 2;

    a {
        text-decoration: none;
        color: $main-yellow;
        width: 2.6vw;
        margin: 0 auto;
    }
}

.aside__menu {
    list-style-type: none;
    display: grid;
    grid-template-rows: repeat(10, minmax(4.1vw, 1fr));
    height: 100vh;
    padding-left: 0;
    margin-top: 0;
}

.aside__menu-item1 {
    &>a {
        display: block;
        height: 100%;
        background: url(../img/top10.svg) no-repeat right center;
        margin-left: auto;
        margin-right: 0;
        width: 3.1vw;
    }

    .aside__submenu-1 {
        display: none;
        position: absolute;
        top: 0;
        left: 100%;
        width: 11vw;
        list-style-type: none;
        padding: 0;
        background-color: $main-black;
        text-align: center;
        text-transform: uppercase;
        font-size: calc(2px + 0.8vw);
        border: 1px solid $main-violet;
        border-radius: 0 5px 5px 0;

        li {
            z-index: 2;
            border-top: 1px solid $main-violet;
        }

        a {
            display: block;
            width: 100%;
            height: 100%;
            padding: 3.5% 0;
        }
    }

    &:hover>.aside__submenu-1 {
        display: block;
    }
}

.aside__sumbenu1-item1:hover {
        border-radius: 0 5px 0 0;
}
.aside__sumbenu1-item9:hover {
    border-radius: 0 0 5px 0;
}

.aside__sumbenu1-item1:hover,
.aside__sumbenu1-item2:hover,
.aside__sumbenu1-item3:hover,
.aside__sumbenu1-item4:hover,
.aside__sumbenu1-item5:hover,
.aside__sumbenu1-item6:hover,
.aside__sumbenu1-item7:hover,
.aside__sumbenu1-item8:hover,
.aside__sumbenu1-item9:hover {
    background-color: $main-yellow;

    a {
        color: $main-black;
    }
}

.aside__menu-item1,
.aside__menu-item2,
.aside__menu-item3,
.aside__menu-item4,
.aside__menu-item5,
.aside__menu-item6,
.aside__menu-item7,
.aside__menu-item8,
.aside__menu-item9,
.aside__menu-item10 {
    &:hover {
        background-color: $main-violet;
    }
}

.aside__menu-item2 {
    a {
        display: block;
        height: 100%;
        background: url('../img/rock_and_roll.svg') no-repeat center center;
    }
}

.aside__menu-item3 {
    a {
        display: block;
        height: 100%;
        background: url('../img/kpop.svg') no-repeat center center;
    }

}

.aside__menu-item4 {
    a {
        display: block;
        height: 100%;
        background: url('../img/jazz.svg') no-repeat center center;
    }
}

.aside__menu-item5 {
    a {
        display: block;
        height: 100%;
        background: url('../img/dabstep.svg') no-repeat center center;
    }
}

.aside__menu-item6 {
    a {
        display: block;
        height: 100%;
        background: url('../img/electro.svg') no-repeat center center;
    }
}

.aside__menu-item7 {
    a {
        display: block;
        height: 100%;
        background: url('../img/blues.svg') no-repeat center center;
    }
}

.aside__menu-item8 {
    a {
        display: block;
        height: 100%;
        background: url('../img/techno.svg') no-repeat center center;
    }
}

.aside__menu-item9 {
    a {
        display: block;
        height: 100%;
        background: url('../img/country.svg') no-repeat center center;
    }
}

.aside__menu-item10 {
    a {
        display: block;
        height: 100%;
        background: url('../img/pop.svg') no-repeat center center;
    }
}

.slider__title {
    @include title-style;
    margin-bottom: 0;
}

.slider input[type="radio"] {
    display: none;
}

.slider__window {
    width: 90%;
    overflow: hidden;
    margin: 0 auto;

}

.slider__inner {
    display: flex;
    flex-direction: row;

    h4 {
        text-align: center;
        font-family: "title font";
    }

}

.slider__item {
    min-width: 100%;
    transition: .5s;
    position: relative;

    h4 {
        margin: 0.43vw auto 0.43vw;
        font-size: calc(5px + 1vw);
    }

    video {
        display: block;
        width: 76%;
        margin: 0 auto;
        min-height: 34vw;

    }
}


.slider__controls-dots {
    display: flex;
    width: 10vw;
    margin: 0 auto;
    justify-content: space-around;
    padding: 1% 0;

    label {
        width: 1.3vw;
        height: 1.3vw;
        background-color: $main-black;
        border-radius: 50%;
        cursor: pointer;

        &:hover {
            background-color: $main-violet;
        }
    }
}

#control1:checked~.slider__controls-dots label:first-child,
#control2:checked~.slider__controls-dots label:nth-child(2),
#control3:checked~.slider__controls-dots label:nth-child(3),
#control4:checked~.slider__controls-dots label:nth-child(4),
#control5:checked~.slider__controls-dots label:nth-child(5),
#control6:checked~.slider__controls-dots label:nth-child(6) {
    background-color: $main-yellow;
}


#control5:checked~.slider__window .slider__item:nth-child(5) label[for="control4"],
#control4:checked~.slider__window .slider__item:nth-child(4) label[for="control3"],
#control3:checked~.slider__window .slider__item:nth-child(3) label[for="control2"],
#control2:checked~.slider__window .slider__item:nth-child(2) label[for="control1"],
#control6:checked~.slider__window .slider__item:nth-child(6) label[for="control5"] {
    display: inline-block;
    min-width: 6.2%;
    min-height: 6vw;
    position: absolute;
    top: 46%;
    left: 5%;

    &:before {
        content: '';
        position: absolute;
        width: 4vw;
        height: 4vw;
        box-shadow: 5px 5px 0 1px $main-black;
        transform: rotate(135deg);
        top: 16%;
        left: 28%;
        cursor: pointer;
    }

    &:hover:before {
        box-shadow: 5px 5px 0 1px $main-yellow;
    }
}

#control1:checked~.slider__window .slider__item:first-child label,
#control2:checked~.slider__window .slider__item:nth-child(2) label[for="control3"],
#control3:checked~.slider__window .slider__item:nth-child(3) label[for="control4"],
#control4:checked~.slider__window .slider__item:nth-child(4) label[for="control5"],
#control5:checked~.slider__window .slider__item:nth-child(5) label[for="control6"] {
    display: inline-block;
    min-width: 6.2%;
    min-height: 6vw;
    position: absolute;
    top: 46%;
    right: 5%;

    &:after {
        content: '';
        position: absolute;
        width: 4vw;
        height: 4vw;
        box-shadow: 5px 5px 0 1px #030200;
        transform: rotate(-45deg);
        top: 16%;
        right: 28%;
        cursor: pointer;
    }

    &:hover:after {
        box-shadow: 5px 5px 0 1px $main-yellow;
    }
}

#control1:checked~.slider__window .slider__item {
    margin-left: 0;
    transition: .5s;
}

#control2:checked~.slider__window .slider__item:nth-child(1) {
    margin-left: -100%;
    transition: .5s;
}

#control3:checked~.slider__window .slider__item:nth-child(1) {
    margin-left: -200%;
    transition: .5s;
}

#control4:checked~.slider__window .slider__item:nth-child(1) {
    margin-left: -300%;
    transition: .5s;
}

#control5:checked~.slider__window .slider__item:nth-child(1) {
    margin-left: -400%;
    transition: .5s;
}

#control6:checked~.slider__window .slider__item:nth-child(1) {
    margin-left: -500%;
    transition: .5s;
}

.library__title {
    @include title-style();
}

.library__top {
    display: flex;
    justify-content: space-between;
    padding: 0 1%;
    align-items: center;

}

.library__breadcrumbs {
    display: flex;
    flex-direction: row;
    padding-left: 0;
    list-style-type: none;
    font-size: calc(5px + 0.7vw);

    li:first-child {
        img {
            height: calc(8px + 0.6vw);
            float: left
        }

    }

    li {
        a {
            float: left;
            text-decoration: none;
        }

        svg {
            height: calc(2px + 0.4vw);
            transform: rotate(180deg);
        }
    }
}

.library__top {

    select {
        font-size: calc(7px + 0.6vw);
    }
}

.library__main {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 20%;
    align-items: center;
    border-top: 2px solid $main-black;
    border-bottom: 2px solid $main-black;
    min-height: 480px;
    max-height: 610px;
    box-shadow: inset 0px 2px 2px $main-violet, inset 0px -2px 2px $main-violet;
    padding-bottom: 1.5%;

    audio {
        outline: none;
        height: 2vw;
        width: 100%;
    }

    p {
        font-size: calc(10px + 0.5vw);
    }
}

.library__main-item {
    margin: 0 auto;
    width: 90%;
    height: 100%;
}

.library__bottom {
    text-align: center;
}

.library__bottom-paginaiton {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 0;
    width: 13%;
    margin: 1vw auto;

    a {
        text-decoration: none;
        display: block;
        padding: 2px 5px;
        color: $main-black;
        font-size: calc(9px + 0.6vw);
    }

    li {
        border: 1px solid $main-black;
        border-radius: 5px;

        &:hover {
            background-color: $main-violet;

            a {
                color: $main-yellow;

            }
        }

    }
}

.library__bottom-active {
    background-color: $main-violet;
    color: $main-yellow;
}

.albums__inner {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-row-gap: 1vw;
    max-height: 615px;
    min-height: 615px;
    width: 83%;
    margin: 0 auto;
    overflow: auto;
}

.albums__title {
    @include title-style;
}

.albums__item-checked {
    display: none;
}

input[class^="albums__item"] {
    -webkit-appearance: none;
    display: none;
    min-width: 300px;
    max-width: 300px;
    min-height: 300px;
    max-height: 300px;
    margin: 0 auto;
    cursor: pointer;
}

.albums__item1 {
    background: url('../img/fine_line.png') no-repeat 0 0;
    background-size: cover;
}

.albums__item2 {
    background: url('../img/heavy.jpg') no-repeat 0 0;
    background-size: cover;
}

.albums__item3 {
    background: url('../img/tunes.jpg') no-repeat 0 0;
    background-size: cover;
}

.albums__item4 {
    background: url('../img/lp1.jpg') no-repeat 0 0;
    background-size: cover;
}

.albums__item5 {
    background: url('../img/trippie.jpg') no-repeat 0 0;
    background-size: cover;
}

.albums__item6 {
    background: url('../img/coldplay.jpg') no-repeat 0 0;
    background-size: cover;
}

.albums__item7 {
    background: url('../img/robbie_williams.jpg') no-repeat 0 0;
    background-size: cover;
}

.albums__item8 {
    background: url('../img/leonard_cohen.png') no-repeat 0 0;
    background-size: cover;
}

.albums__item9 {
    background: url('../img/hyperspace.jpg') no-repeat 0 0;
    background-size: cover;
}

.albums__item10 {
    background: url('../img/lil.jpg') no-repeat 0 0;
    background-size: cover;
}

.albums__item11 {
    background: url('../img/dj_shadow.png') no-repeat 0 0;
    background-size: cover;
}

.albums__item12 {
    background: url('../img/i_made_a_place.jpg') no-repeat 0 0;
    background-size: cover;
}

.albums__item13 {
    background: url('../img/chixtape.png') no-repeat 0 0;
    background-size: cover;
}

.albums__item14 {
    background: url('../img/luce_combs.png') no-repeat 0 0;
    background-size: cover;
}

.albums__item15 {
    background: url('../img/one_of_the_best.jpeg') no-repeat 0 0;
    background-size: cover;
}

.albums__item-checked:checked~input {
    display: block;
}

.albums__tracks1,
.albums__tracks2,
.albums__tracks3,
.albums__tracks4,
.albums__tracks5,
.albums__tracks6,
.albums__tracks7,
.albums__tracks8,
.albums__tracks9,
.albums__tracks10,
.albums__tracks11,
.albums__tracks12,
.albums__tracks13,
.albums__tracks14,
.albums__tracks15 {
    display: none;

    h4 {
        text-align: center;
        text-transform: uppercase;
        font-family: "title font";
        font-size: calc(7px + 0.7vw);
        width: 95%;
        margin: 0 auto;
    }

    label {
        display: block;
        position: relative;
        min-height: 2vw;
        min-width: 2vw;
        float: left;
        cursor: pointer;

        &:before {
            content: '';
            position: absolute;
            width: 1vw;
            height: 1vw;
            box-shadow: 2px 2px 0 1px $main-black;
            transform: rotate(135deg);
            top: 18%;
            left: 40%;
        }

        &:hover:before {
            box-shadow: 2px 2px 0 1px $main-yellow;
        }
    }
}

.albums__tracks-inner {
    display: grid;
    grid-template-columns: repeat(2, 50%);
    grid-auto-rows: 7vw;
    align-items: center;

    audio {
        outline: none;
        height: 2vw;
        width: 90%;
    }

    .albums__tacks-item {
        margin: 0 auto;
        width: 100%;
    }

    p {
        font-size: calc(10px + 0.5vw);
    }

}

.albums__item1:checked~.albums__tracks1,
.albums__item2:checked~.albums__tracks2,
.albums__item3:checked~.albums__tracks3,
.albums__item4:checked~.albums__tracks4,
.albums__item5:checked~.albums__tracks5,
.albums__item6:checked~.albums__tracks6,
.albums__item7:checked~.albums__tracks7,
.albums__item8:checked~.albums__tracks8,
.albums__item9:checked~.albums__tracks9,
.albums__item10:checked~.albums__tracks10,
.albums__item11:checked~.albums__tracks11,
.albums__item12:checked~.albums__tracks12,
.albums__item13:checked~.albums__tracks13,
.albums__item14:checked~.albums__tracks14,
.albums__item15:checked~.albums__tracks15 {
    display: block;
}

.contacts {
    h3 {
        @include title-style();
    }

}

.contacts__inner {
    display: grid;
    grid-template-columns: 50% 50%;
}

.contacts__info {
    display: flex;
    flex-direction: column;
    padding: 0 5%;
}

.contacts__info-top {
    display: grid;
    grid-template-columns: 48% 52%;
    margin: 0 auto;
    font-size: calc(3px + 1vw);

    span {
        font-weight: 700;
    }

    ul:first-child {
        li {
            height: 25%;
        }
    }

    ul {
        margin-top: 0;
        list-style-type: none;
        padding-left: 0;
    }

    li {
        line-height: 2vw;
        font-size: calc(2.5px + 1vw);
    }

    a {
        color: $main-black;
        text-decoration: none;
    }

    a:hover {
        color: $main-violet;
    }
}

img[class$="social-logo"] {
    width: 1vw;
    height: 1vw;
}

.contacts__map {
    iframe {
        border: 0;
        width: 90%;
        height: 100%;
    }
}

.contacts__form-fields {
    display: grid;
    grid-template-columns: repeat(2, 48.8%);
    grid-gap: 1vw;

    input {
        line-height: 2vw;
        text-align: center;
        outline: none;
        border-radius: 25px;
        background-color: $main-gray;
        font-size: calc(5px + 0.7vw);

        &:focus {
            background-color: #fff;
        }
    }

    select {
        border-radius: 5px;
        outline: none;
        height: 100%;
        align-self: center;
        font-size: calc(5px + 0.6vw);
    }

}

.contacts__info-bottom {
    textarea {
        font-size: calc(5px + 0.7vw);
        width: 100%;
        height: 11vw;
        outline: none;
        border-radius: 5px;
        margin: 1vw 0;
        padding: 2%;
        resize: none;
        background-color: $main-gray;

        &:focus {
            background-color: #fff;
        }
    }

    form {
        background-color: $main-black;
        border-radius: 5px;
        padding: 2%;
    }
}

.contacts__form-buttons {
    display: grid;
    grid-template-columns: repeat(2, 30%);
    justify-content: space-around;

    input {
        height: 100%;
        outline: none;
        font-size: calc(5px + 0.7vw);

        &:first-child {
            background-color: $main-black;
            border: 1px solid #fff;
            color: $main-yellow;
        }

        &:nth-child(2) {
            background-color: $main-yellow;
            border: 1px solid #fff;
            color: $main-black;
        }

        @include btn-style();
    }
}

.footer {
    border-top: 2px solid $main-black;
    margin-top: 2vw;
    font-family: "menu font";
    font-size: calc(5px + 0.7vw);

    a {
        text-decoration: none;
        color: $main-black;
    }

}

.footer__inner {
    display: grid;
    grid-template-columns: 25% 50% 12% 13%;
    align-items: center;
}

.footer__left {
    padding-left: 3%;
}

.footer_nav {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
    text-align: center;
    text-transform: uppercase;
    display: grid;
    grid-template-columns: repeat(3, 33%);

    li:first-child {
        border-left: 2px solid #fff;
    }

    li {
        border-right: 2px solid #fff;
        line-height: 41px;
    }

    li:hover {
        background-color: $main-black;

        a {
            color: $main-yellow;
            display: block;
            width: 100%;
            height: 100%;
        }
    }
}

.footer__button {
    width: 60%;
    margin: 0 auto;
    font-size: calc(5px + 0.5vw);
    @include btn-style();
    background-color: #fff;
    border: 1px solid $main-black;

    a {
        color: $main-black;
        display: block;
    }
}

.footer__left {
    font-size: calc(4px + 0.7vw);
}

.footer__social {
    list-style-type: none;
    padding-left: 0;
    text-align: center;
    width: 95%;
    margin: 0 0 0 auto;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    align-items: center;

}

// @for $i from 1 to 4 {
//     .li-style:nth-child(#{$i}) {
//         transition-delay: ($i + 1) * 0.15s;
//         transition-duration: 0.5;
//     }
// }
