@font-face {
  font-family: 'menu font';
  src: url("../fonts/acme-regular.ttf"); }

@font-face {
  font-family: 'title font';
  src: url("../fonts/alpha_echo.ttf"); }

* {
  box-sizing: border-box; }

body {
  margin: 0; }

.container {
  width: 100%; }

.header {
  background-color: #030200;
  max-height: 62px; }
  .header .header__inner {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 60px; }
    .header .header__inner .header__title {
      font-family: "title font";
      display: inline-block;
      text-align: center;
      background-color: #68009b; }
      .header .header__inner .header__title a {
        text-decoration: none;
        color: #f4ff00; }
      .header .header__inner .header__title h1 {
        margin: 0;
        font-size: 2.3vw;
        line-height: 60px; }
  .header .header__menu {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(65px, 1fr));
    grid-template-rows: 60px;
    list-style-type: none;
    text-align: center;
    margin: 0;
    height: 100%;
    padding-left: 0; }
    .header .header__menu > li:first-child {
      border-left: 2px solid #fff; }
    .header .header__menu > li:last-child {
      border-right: none; }
    .header .header__menu > li {
      font-size: 1.5vw;
      font-family: "menu font";
      font-weight: 700;
      line-height: 60px;
      border-right: 2px solid #fff; }
      .header .header__menu > li a {
        text-decoration: none;
        color: #f4ff00;
        text-transform: uppercase; }
    .header .header__menu .header__submenu1,
    .header .header__menu .header__submenu2,
    .header .header__menu .header__submenu4 {
      list-style-type: none;
      text-align: left;
      font-size: 0;
      max-height: 0;
      padding-left: 0;
      background-color: #030200;
      transition: .3s;
      text-align: center; }
      .header .header__menu .header__submenu1 li,
      .header .header__menu .header__submenu2 li,
      .header .header__menu .header__submenu4 li {
        padding: 5px 0;
        line-height: normal; }
      .header .header__menu .header__submenu1 a,
      .header .header__menu .header__submenu2 a,
      .header .header__menu .header__submenu4 a {
        letter-spacing: 2px; }
  .header .header__menu-li1:hover {
    background-color: #f4ff00; }
    .header .header__menu-li1:hover > a {
      color: #030200; }
  .header .header__menu-li2:hover {
    background-color: #f4ff00; }
    .header .header__menu-li2:hover > a {
      color: #030200; }
  .header .header__menu-li4:hover {
    background-color: #f4ff00; }
    .header .header__menu-li4:hover > a {
      color: #030200; }
  .header .header__menu-li1:hover > .header__submenu1 {
    max-height: 300px;
    font-size: 1.2vw;
    transition: .3s; }
    .header .header__menu-li1:hover > .header__submenu1 li {
      border-top: 1px solid #68009b; }
  .header .header__menu-li2:hover > .header__submenu2 {
    max-height: 300px;
    font-size: 1.2vw;
    transition: .3s; }
    .header .header__menu-li2:hover > .header__submenu2 li {
      border-top: 1px solid #68009b; }
  .header .header__menu-li4:hover > .header__submenu4 {
    max-height: 300px;
    font-size: 1.2vw;
    transition: .3s; }
    .header .header__menu-li4:hover > .header__submenu4 li {
      border-top: 1px solid #68009b; }
  .header li[class*="submenu"]:hover {
    background-color: #f4ff00; }
    .header li[class*="submenu"]:hover > a {
      color: #030200; }

/*# sourceMappingURL=style.css.map */
